body {
  background: #f8f8f4;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #222;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  flex-direction: column; /* stack name and role vertically */
  padding: 3.5rem 1rem 2rem 1rem;
  border-bottom: 2px solid #eee;
  background: #fff;
}

.name-block {
  max-width: 100%;
  text-align: center;
}

h1 {
  font-family: "Radley", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  letter-spacing: -1px;
  margin: 0 0 0.1rem 0; /* Very small bottom margin */
  justify-content: center;
  display: flex;
}

h2 {
  font-family: "Radley", serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  color: #555;
  margin: 0 0 0.3rem 0; /* No top margin, slight bottom */
  text-align: center;
}

/* .profile-pic img {
  width: 90px; /* smaller */
/* height: 90px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid #ececec;
  margin-top: 1rem;
} */

.about {
  margin-bottom: 1rem;
}

section {
  background: none;
  border: none;
  padding: 2.6rem 0 2.6rem 0;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
}

section:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100vw;
  height: 1px;
  background: #e7e7e2;
  z-index: 2;
}

.about-me h3,
.why-hire h3,
.projects h3,
.connect h3 {
  font-family: "Radley", serif; /* or your Bogart font once installed */
  font-weight: 400;
  font-style: italic;
  color: #555;
  font-size: 2rem; /* reduced from 2rem */
  margin-bottom: 0.1rem; /* was 0.8rem, now much smaller */
}

.project-card h4 {
  font-family: "Radley", serif; /* or your Bogart font once installed */
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 1.5rem; /* reduced from 2rem */
  margin-bottom: 0.1rem; /* was 0.8rem, now much smaller */
}

/* .why-hire h3 {
  font-family: "Radley", serif; /* or your Bogart font once installed */
/* font-weight: 400;
  font-style: italic;
  color: #555;
  font-size: 2rem; /* reduced from 2rem */
/* } */

/* .projects h3 {
  font-family: "Radley", serif; /* or your Bogart font once installed */
/* font-weight: 400;
  font-style: italic;
  color: #555;
  /* font-size: 2rem; /* reduced from 2rem */
/* }  */
